<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/global.css">
    
  
    <title>Homework 1</title>
</head>

<body>

        <header class="text-center box-1">
            <div class="container">
                <h2>Homework 2</h2>
            </div>
        </header>

        <div id="content" class="container">
            <div class="img_container">

                <a data-fancybox="gallery" href="../static/anh-cua-songoku_044039374.jpg" data-caption="image 1"  data-width="1000"
                data-height="700">
                    <img  src="../static/anh-cua-songoku_044039374.jpg">
                </a>

            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/anh-doc-dao-songoku_044039483.jpg" data-caption="image 2" data-width="1000"
                data-height="700">
                    <img src="../static/anh-doc-dao-songoku_044039483.jpg">
                </a>
                

            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/anh-nen-pc-songoku_044039624.jpg" data-caption="image 3" data-width="1000"
                data-height="700">
                    <img src="../static/anh-nen-pc-songoku_044039624.jpg">
                </a>
            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/anh-songoku-blue_044039859.jpg" data-caption="image 4" data-width="1000"
                data-height="700">
                    <img src="../static/anh-songoku-blue_044039859.jpg">

                </a>
                
            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/anh-songoku-dragon-ball-super_044040077.jpg" data-caption="image 4" data-width="1000"
                data-height="700">
                    <img src="../static/anh-songoku-dragon-ball-super_044040077.jpg">
                </a>
              
            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/goku-mastered-ultra-instinct-wall.jpg" data-caption="image 5" data-width="1000"
                data-height="700">
                    <img src="../static/goku-mastered-ultra-instinct-wall.jpg">
                </a>
               

            </div>
            <div class="img_container">
                    <a data-fancybox="gallery" href="../static/hinh-anh-songoku-dep-nhat-va-hay-nhat_044041296.jpg" data-caption="image 6" data-width="1000"
                    data-height="700"> 
                        <img src="../static/hinh-anh-songoku-dep-nhat-va-hay-nhat_044041296.jpg">

                    </a>
               
            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/hinh-anh-songoku-dragon-ball-super_044041609.jpg" data-caption="image 7" data-width="1000"
                data-height="700">
                    <img src="../static/hinh-anh-songoku-dragon-ball-super_044041609.jpg">

                </a>
               
            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/hinh-anh-songoku-full-hd_044041671.jpg" data-caption="image 8" data-width="1000"
                data-height="700">
                    <img src="../static/hinh-anh-songoku-full-hd_044041671.jpg">
                </a>
               

            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/HinhnenGoku-17.jpg" data-caption="image 9" data-width="1000"
                data-height="700">
                    <img src="../static/HinhnenGoku-17.jpg">

                </a>
                
            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/photo-1-152110755167424925589-15315363237841208420382.jpg" data-caption="image 10" data-width="1000"
                data-height="700">
                    <img src="../static/photo-1-152110755167424925589-15315363237841208420382.jpg">

                </a>
              
            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/tai-hinh-anh-songoku_044042531.jpg" data-caption="image 11" data-width="1000"
                data-height="700">
                    <img src="../static/tai-hinh-anh-songoku_044042531.jpg">
                </a>
               

            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/tim-hieu-nhan-vat-chinh-songoku-trong-phim-anime-dragon-ball.jpg" data-caption="image 12" data-width="1000"
                data-height="700">
                    <img src="../static/tim-hieu-nhan-vat-chinh-songoku-trong-phim-anime-dragon-ball.jpg">

                </a>
             
            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/photo-1-152110755167424925589-15315363237841208420382.jpg" data-caption="image 13" data-width="1000"
                data-height="700">
                    <img src="../static/photo-1-152110755167424925589-15315363237841208420382.jpg">
                </a>
                

            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/maytinh-9-800x450-7.jpg" data-caption="image 14" data-width="1000"
                data-height="700">
                    <img src="../static/maytinh-9-800x450-7.jpg">

                </a>
               
            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/photo-2-1511425238744.jpg" data-caption="image 15" data-width="1000"
                data-height="700">
                    <img src="../static/photo-2-1511425238744.jpg">

                </a>
              
            </div>
            <div class="img_container">
                <a data-fancybox="gallery" href="../static/tim-hieu-nhan-vat-chinh-songoku-trong-phim-anime-dragon-ball.jpg" data-caption="image 16" data-width="1000"
                data-height="700">
                    <img src="../static/tim-hieu-nhan-vat-chinh-songoku-trong-phim-anime-dragon-ball.jpg">
                </a>
               

            </div>

        </div>

        <footer class="text-center">
            <div class="container">
                <p>Nguyễn Quang Tuấn</p>
            </div>
        </footer>

        <br>

        <script src="../import/js/jquery-3.6.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>

        <script>

            $(document).ready(function(){

             $('#content a').fancybox();

            });

        </script>
   
</body>

</html>